{{ define "index.html" }}
{{template "layout_header" .}}

<div class="content-body">
    <div class="container">
        <div class="row">
            <main class="col-md-8">
                {{range .data}}
                    <article class="post post-{{.ID}}">
                        <header class="entry-header">
                            <h1 class="entry-title">
                                <a href="single.html">{{.Title}}</a>
                            </h1>
                            <div class="entry-meta">
                                <span class="post-category"><a href="#">{{.Category}}</a></span>
                                <span class="post-date"><a href="#"><time class="entry-date"
                                                                          datetime="2020-02-02T23:15:57+00:00">{{.CreatedAt}}</time></a></span>
                                <span class="post-author"><a href="#">{{.Author}}</a></span>
                                <span class="comments-link"><a href="#">{{.Comment}} 评论</a></span>
                                <span class="views-count"><a href="#">{{.Read}} 阅读</a></span>
                            </div>
                        </header>
                        <div class="entry-content clearfix">
                            {{/*<p>{{.title}}, {{.content}}, {{.comment}}, {{.author}}, {{.read}}, {{.category}} {{.created_at}} {{.id}}*/}}
                            <p>{{.Content}}</p>
                            <div class="read-more cl-effect-14">
                                <a href="/posts/{{.ID}}" class="more-link">继续阅读 <span class="meta-nav">→</span></a>
                            </div>
                        </div>
                    </article>
                        {{end}}
                <div class="pagination">
                    <ul>
                        <li><a href="">1</a></li>
                        <li><a href="">...</a></li>
                        <li><a href="">4</a></li>
                        <li><a href="">5</a></li>
                        <li class="current"><a href="">6</a></li>
                        <li><a href="">7</a></li>
                        <li><a href="">8</a></li>
                        <li><a href="">...</a></li>
                        <li><a href="">11</a></li>
                    </ul>
                </div>
            </main>

        {{template "layout_sidebar" .}}
        </div>
    </div>
</div>

{{template "layout_footer" .}}

{{ end }}