
{{define "layout_sidebar"}}
<aside class="col-md-4">
    <div class="widget widget-recent-posts">
        <h3 class="widget-title">最新文章</h3>
        <ul>
            {{range .newest_posts}}
            <li>
                <a href="/posts/{{.ID}}">{{.Title}}</a>
            </li>
                    {{end}}
        </ul>
    </div>
    <div class="widget widget-archives">
        <h3 class="widget-title">归档</h3>
        <ul>
            {{range .archives}}
            <li>
                <a href="/posts?archive={{.Month}}">{{.Month}} <span class="post-count">({{.Count}})</span></a>
            </li>
                    {{end}}
        </ul>
    </div>

    <div class="widget widget-category">
        <h3 class="widget-title">分类</h3>
        <ul>
            {{range .categorys}}
            <li>
                <a href="/posts?category={{.Name}}">{{.Name}} <span class="post-count">({{.Count}})</span></a>
            </li>
                    {{end}}
        </ul>
    </div>

    <div class="widget widget-tag-cloud">
        <h3 class="widget-title">标签云</h3>
        <ul>
            {{range .tags}}
            <li>
                <a href="/posts?tag={{.Name}}">{{.Name}}</a>
            </li>
                {{end}}
        </ul>
    </div>
    <div class="rss">
        <a href=""><span class="ion-social-rss-outline"></span> RSS 订阅</a>
    </div>
</aside>
{{end}}